<section class="consult">
  <h2 class="consult-title">
    Consultorias
  </h2>
  <h4 class="consult-subtitle">
    Soluções empresariais para levar sua empresa ao próximo nível
  </h4>
  <ul class="consult-list" id="consult-list">
    <li class="consult-iten">
      <div class="consult-icon">
        <i class="fa-solid fa-chart-line"></i>
      </div>
      <div class="consult-text">
        <h4>Consultoria Financeira</h4>
        <p>Planejamento e controle financeiro para aumentar a lucratividade da empresa.</p>
      </div>
    </li>
    <li class="consult-iten">
      <div class="consult-icon">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <div class="consult-text">
        <h4>Consultoria Empresarial</h4>
        <p>Soluções estratégicas para melhorar a gestão e o crescimento do negócio.</p>
      </div>
    </li>
    <li class="consult-iten">
      <div class="consult-icon">
        <i class="fa-solid fa-file-invoice-dollar"></i>
      </div>
      <div class="consult-text">
        <h4>Consultoria Tributária</h4>
        <p>Análise fiscal para reduzir riscos e otimizar a carga tributária.</p>
      </div>
    </li>
  </ul>
  <button class="read-more-btn" id="consult-btn">
    Ver mais
  </button>
</section>