<section class="hero-container">
  <section class="hero">
    <div class="hero-overlay"></div>
    <div class="contato-hero">
      <h2 class="contato-title-hero">
        Contabilidade que <span>impulsiona</span> seu negócio
      </h2>
      <p class="contato-desc-hero">
        Mais que números, entregamos estratégias inteligentes para você pagar menos impostos e ter mais lucro.
      </p>
      <div class="container-btn">
        <button class="contato-whats-btn">
          <p>Fale com um especialista</p>
        </button>
        <a class="contato-hero-services">
          Nossos serviços
        </a>
      </div>
    </div>
    <div class="info-hero">
      <div class="info-hero-iten">
        <div class="info-icon-container">
          <i class="fa-regular fa-handshake"></i>
        </div>
        <p>Atenimento próximo e humanizado</p>
      </div>
      <div class="info-hero-iten">
        <div class="info-icon-container">
          <i class="fa-solid fa-microchip"></i>
        </div>
        <p>Tecnologia e agilidade no dia a dia</p>
      </div>
      <div class="info-hero-iten">
        <div class="info-icon-container">
          <i class="fa-solid fa-shield-halved"></i>
        </div>
        <p>Segurança e confiança garantidada</p>
      </div>
    </div>
    <img src="../../assets/img/efeito.svg" alt="" class="hero-svg mobile">
    <img src="../../assets/img/efeito2.svg" alt="" class="hero-svg responsive">
  </section>
  <div class="info-hero out">
    <div class="info-hero-iten">
      <div class="info-icon-container">
        <i class="fa-regular fa-handshake"></i>
      </div>
      <p>Atenimento próximo e humanizado</p>
    </div>
    <div class="info-hero-iten">
      <div class="info-icon-container">
        <i class="fa-solid fa-microchip"></i>
      </div>
      <p>Tecnologia e agilidade no dia a dia</p>
    </div>
    <div class="info-hero-iten">
      <div class="info-icon-container">
        <i class="fa-solid fa-shield-halved"></i>
      </div>
      <p>Segurança e confiança garantidada</p>
    </div>
  </div>
</section>