<section class="services">
  <h2 class="services-title">
    Nossos serviços
  </h2>
  <div class="services-list">
    <div class="service-iten">
      <div class="service-icon-container">
        <i class="fa-solid fa-calculator"></i>        
      </div>
      <p>Contabilidade Completa</p>
    </div>
    <div class="service-iten">
      <div class="service-icon-container">
        <i class="fa-solid fa-users"></i>
      </div>
      <p>Departamento Pessoal</p>
    </div>
    <div class="service-iten">
      <div class="service-icon-container">
        <i class="fa-solid fa-chart-pie"></i>
      </div>
      <p>Planejamento Tributário</p>
    </div>
    <div class="service-iten">
      <div class="service-icon-container">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <p>Consultoria Empresarial</p>
    </div>
    <div class="service-iten">
      <div class="service-icon-container">
        <i class="fa-solid fa-building-circle-check"></i>
      </div>
      <p>Abertura e Regularização de Empresas</p>
    </div>
    <div class="service-iten">
      <div class="service-icon-container">
        <i class="fa-solid fa-prescription-bottle-medical"></i>
      </div>
      <p>Contabilidade para Farmácias</p>
    </div>
  </div>
  <button class="read-more-btn" id="service-btn">
    Ver mais
  </button>
</section>