<section class="testimonials">
  <h2 class="test-title">
    Depoimentos
  </h2>
  <div class="test-container">
    <div class="arrow-left">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    <div class="test-wrapper">
      <ul class="test-list">
        <li class="test-item">
          <div class="item-top">
            <p>“Procuramos a WA Contabilidade para fazer a migração de nossa empresa, (SIMPLES NACIONAL para LUCRO REAL) conseguimos avaliar e projetar novas demandas ao nosso negócio”</p>
          </div>
          <div class="item-bottom">
            <img src="./assets/img/user-unknow.png" alt="Logo Empresa cliente">
            <div class="item-bottom-text">
              <h4>SUPERMERCADO FERREIRA</h4>
              <h5>QUARTEL GERAL – MG</h5>
            </div>
          </div>
        </li>
        <li class="test-item">
          <div class="item-top">
            <p>“Parceria de sucesso, com a WA Contabilidade retomamos nossas atividades buscando uma melhor assessoria fiscal”</p>
          </div>
          <div class="item-bottom">
            <img src="./assets/img/user-unknow.png" alt="Logo Empresa cliente">
            <div class="item-bottom-text">
              <h4>BLITZ MAGAZINE</h4>
              <h5>LUZ – MG</h5>
            </div>
          </div>
        </li>
        <li class="test-item">
          <div class="item-top">
            <p>“ Procuramos a WA Contabilidade para avaliar um melhor enquadramento tributário de nossa empresa, conseguimos avaliar e projetar novas demandas ao nosso negócio”</p>
          </div>
          <div class="item-bottom">
            <img src="./assets/img/user-unknow.png" alt="Logo Empresa cliente">
            <div class="item-bottom-text">
              <h4>GRUPO EMPRESARIAL ELETRÔNICA VIEIRA</h4>
              <h5>BOM DESPACHO – MG</h5>
            </div>
          </div>
        </li>
        <li class="test-item">
          <div class="item-top">
            <p>“ Procuramos a WA Contabilidade para fazer abertura de nossa nova empresa, buscando um melhor enquadramento tributário e realizar cadastro fiscal dos produtos, atualizamos inventário”</p>
          </div>
          <div class="item-bottom">
            <img src="./assets/img/user-unknow.png" alt="Logo Empresa cliente">
            <div class="item-bottom-text">
              <h4>GRUPO FLORA CONSTRUTORA</h4>
              <h5>ABAETÉ – MG</h5>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="arrow-right">
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
</section>
