<section class="footer">
  <div class="footer-mobile">
    <h2 class="footer-title">
      Pronto para levar sua empresa mais longe?
    </h2>
    <p class="footer-desc">Converse com nossos especialistas e descubra o poder da WA para o crescimento da sua empresa</p>
    <button class="footer-btn">
      <p>Fale com especialista</p>
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
  <div class="footer-more-screen">
    <div class="more-top">
      <div class="more-logo">
        <img src="./assets/img/logo-white.png" alt="Logo Contabilidade">
      </div>
      <div class="more-nav">
        <h3>Navegação</h3>
        <div class="more-nav-list">
          <a href="#" class="more-item">Início</a>
          <a href="#" class="more-item">Sobre nós</a>
          <a href="#" class="more-item">Serviços</a>
          <a href="#" class="more-item">Consultoria</a>
          <a href="#" class="more-item">Depoimentos</a>
        </div>
      </div>
      <div class="more-nav">
        <h3>Serviços</h3>
        <div class="more-nav-list">
          <a href="#" class="more-item">Contabilidade Completa</a>
          <a href="#" class="more-item">Departamento Pessoal</a>
          <a href="#" class="more-item">Planejamento Tributário</a>
          <a href="#" class="more-item">Consultoria Empresarial</a>
        </div>
      </div>
      <div class="more-nav">
        <h3>Contato</h3>
        <div class="more-nav-list">
          <a href="#" class="more-item">(37) 9 9999-9999</a>
          <a href="#" class="more-item">contato@contabilidade.com.br</a>
          <a href="#" class="more-item">Rua da empresa, 123 Bom Despacho - MG</a>
        </div>
      </div>
    </div>
    <div class="more-bottom">
      <p>© Todos direitos reservados a conabilidade</p>
    </div>
  </div>
</section>
