<header>
  <div class="header-logo">
    <img src="./assets/img/logo-contabilidade-mobile.png" alt="Logo da contabilidade" class="logo-mobile">
    <h3>Contabildiade & Soluções Empresariais</h3>
    <img src="./assets/img/logo-contabilidade.png" alt="Logo da empresa" class="logo-desktop">
  </div>
  <div class="nav-desktop">
    <a href="#hero">Início</a>
    <a href="#about">Quem somos</a>
    <a href="#services">Serviços</a>
    <a href="#consult">Consultorias</a>
    <a href="#testimonials">Depoimentos</a>
    <a href="#footer">Contato</a>
  </div>
  <button class="header-whats-btn">
    Fala com um especialista
  </button>
  <button class="menu-open-btn" id="menu-open-btn">
    <i class="fa-solid fa-bars"></i>
  </button>
  <div class="overlay" id="overlay"></div>
  <div class="nav-bar" id="nav-bar">
    <div class="logo-nav-menu">
      <img src="./assets/img/logo-contabilidade-mobile.png" alt="Logo Contabilidade">
      <button class="menu-close-btn" id="menu-close-btn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="options-nav">
      <a href="#hero" class="op-nav">
        <i class="fa-solid fa-house"></i>
        <p>Início</p>
      </a>
      <a href="#about" class="op-nav">
        <i class="fa-solid fa-users"></i>
        <p>Quem somos</p>
      </a>
      <a href="#services" class="op-nav">
        <i class="fa-solid fa-briefcase"></i>
        <p>Serviços</p>
      </a>
      <a href="#consult" class="op-nav">
        <i class="fa-solid fa-chart-column"></i>
        <p>Consultorias</p>
      </a>
      <a href="#testimonials" class="op-nav">
        <i class="fa-solid fa-star"></i>
        <p>Depoimentos</p>
      </a>
      <a href="#footer" class="op-nav">
        <i class="fa-solid fa-envelope"></i>
        <p>Contato</p>
      </a>
    </div>
    <div class="info-nav">
      <h4 class="title-info">
        Fale conosco
      </h4>
      <div class="contato-info">
        <a href="" class="link-contato-info">
          <div class="icon-link-info">
            <i class="fa-solid fa-phone"></i>
          </div>
          <p>(37) 99999-9999</p>
        </a>
        <a href="" class="link-contato-info">
          <div class="icon-link-info">
            <i class="fa-brands fa-whatsapp"></i>
          </div>
          <p>(37) 99999-9999</p>
        </a>
        <a href="" class="link-contato-info">
          <div class="icon-link-info">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <p>contato@contabilidade.com.br</p>
        </a>
        <a href="" class="link-contato-info">
          <div class="icon-link-info">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <p>Rua da empresa, 123 Bom Despacho - MG</p>
        </a>
      </div>
      <div class="socials-info">
        <a href="www.linkeding.com" class="link-socials-info">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="www.instagram.com" class="link-socials-info">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</header>
